<!DOCTYPE html>
<html lang="fr">
<link rel="stylesheet" href="{{ url_for('static', filename= 'style.css') }}">
<head>
    <meta charset="UTF-8">
    <title>Hopital</title>
</head>
<body>
<?php
echo "bonjour"
?>
<h1>Hopital</h1>
<p>présentation des différents hopitaux</p>

<table>
    <thead>
        <tr>
            <th colspan="2">Hopital data</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>colonne 1 </td>
            <td>colonne 2 </td>
        </tr>
    </tbody>
</table>

<a href="index">Menu Principal</a>
</body>
</html>