<!doctype html>
<html lang="fr">
<head>
    <title>Polluant</title>
</head>
<body>
<form method="post" action="traitement.php">
   <p>
       Quelle polluant vous intéresse :<br />
       <input type="checkbox" name="ozone" id="ozone" /> <label for="ozone">ozone</label><br />
       <input type="checkbox" name="dioxyde de souffre" id="dioxyde de souffre" /> <label for="dioxyde de souffre">dioxyde de souffre</label><br />
       <input type="checkbox" name="dioxyde d'azote" id="dioxyde d'azote" /> <label for="dioxyde d'azote">dioxyde d'azote</label><br />
       <input type="checkbox" name="particule fine" id="particule fine" /> <label for="particule fine">particule fine</label>
   </p>
</form>
</body>
</html>